<div class="container">
  <div class="row">
    <div class="col">
        <div class="tabs">
          <div class="tab-header">
            <div class="header active">
              <i class="fas fa-people-carry"></i> Doações
            </div>
            <div class="header">
              <i class="fas fa-hand-holding-heart"></i> Voluntários
            </div>
            <div class="header">
              <i class="fas fa-file-signature"></i> Projetos/Parcerias
            </div>
            <div class="header">
              <i class="fas fa-address-book"></i> Contatos
            </div>
          </div>
          <div class="tab-indicator"></div>
          <div class="tab-body">
            <div class="body active align-body">
              <section class="project-header">
                <h2>Items - Doações</h2>
                <%= link_to 'Inserir novo item', new_donation_path, class:"button-banner left-margin" %>
              </section>
              <section class="cem-width">
                <table class="content-table">
                  <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade e descrição</th>
                        <th>Categoria</th>
                        <th>Status</th>
                        <th> Editar/Excluir item </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @donations.each do |donation|%>
                            <tr>
                                <td><%= donation.name %></td>
                                <td><%= "#{donation.quantity} #{donation.description}" %></td>
                                <td><%= donation.donation_tag %></td>
                                  <% if donation.status == true %>
                                    <td> Precisamos agora </td>
                                  <% else %>
                                    <td> Não Precisamos agora </td>
                                  <% end %>
                                <td>
                                  <%= link_to edit_donation_path(donation) do %>
                                    <i class="far fa-edit"></i>
                                  <% end %>
                                  <%= link_to donation_path(donation), method: "delete" do %>
                                    <i class="far fa-trash-alt"></i>
                                  <% end %>
                                </td>
                            </tr>
                    <% end %>
                  </tbody>
                  </table>
              </section>
            </div>

            <div  class="body align-body">
              <section class="project-header">
                <h2>Voluntários Casa Lar Emaús</h2>
              </section>
              <section class="cem-width">
                <table class="content-table">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Contato</th>
                      <th>Disponibilidade</th>
                      <th>Natureza Jurídica</th>
                      <th> Editar/Excluir </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @volunteers.each do |volunteer|%>
                      <tr>
                        <td><%= volunteer.name %></td>
                        <td><%= volunteer.email %></td>
                        <td><%= volunteer.phone %></td>
                        <td><%= volunteer.availability.capitalize %></td>
                        <td><%= volunteer.cpf_or_cnpj.upcase %></td>
                        <td>
                          <%= link_to edit_admin_volunteer_path(volunteer) do %>
                            <i class="far fa-edit"></i>
                          <% end %>
                          <%= link_to admin_volunteer_path(volunteer), method: :delete do %>
                            <i class="far fa-trash-alt"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </section>

            </div>

            <div class="body align-body">
              <section class="project-header">
                <h2> Projetos Casa Lar Emaús</h2>
                <%= link_to 'Criar um Projeto', new_admin_project_path, class:"button-banner left-margin" %>
              </section>
              <section class="wrapper">
                <% @projects.each do |project| %>
                  <%if project.photo.present? %>
                    <section class="item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path project.photo.key %>')">
                  <% else %>
                    <section class="item default-image-project">
                  <% end %>
                      <h3><%= project.name%></h3>
                      <aside class="links-clean">
                        <%= link_to edit_admin_project_path(project) do %>
                          <i class="far fa-edit"></i>
                        <% end %>
                        <%= link_to admin_project_path(project), method: "delete" do %>
                          <i class="far fa-trash-alt"></i>
                        <% end %>
                      </aside>
                    </section>
                <% end %>
              </section>
             
            </div>
            <div class="body">
              <h2>Aqui são Contatos</h2>
              <p>jijaoiajsoiajasoijsaoisajoisajasoi</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>