<div class="container">
    <div class="row">
        <div class="col">
          <div class="banner-image">
            <h1>Casa Lar Emaús</h1>
            <p>Mais que uma casa, um Lar!</p>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="card-home blue-card">
          <%= image_tag "clipboard.svg", alt: "Project", class: "icon-card" %>
          <h2>Propostas</h2>
          <p>Quer propor uma parceria ou um novo projeto para a Casa Lar? Conte mais sobre sua ideia por aqui!</p>
          <%= link_to 'Tenho uma Proposta', root_path, class:'button-card'%>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card-home pink-card">
          <%= image_tag "box.svg", alt: "Box with a hearth", class: "icon-card"%>
          <h2>Doações</h2>
          <p>Você pode conferir as necessidades atuais da casa para contribuir com recursos e mantimentos.</p>
          <%= link_to 'Quero Doar', root_path, class:'button-card' %>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card-home green-card">
          <%= image_tag "love.svg", alt: "Project", class: "icon-card" %>
          <h2>Voluntariado</h2>
          <p>A Casa Lar possui projetos em diferentes frentes para aqueles que desejam participar como voluntários.</p>
          <%= link_to 'Quero ser Voluntário', root_path, class:'button-card' %>
        </div>
      </div>
  </div>
</div>


