<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10">
      <div class="card-volunteer">
        <div class="form-header">
          <h2><%= @project.name %></h2>
          <p><%= @project.description %></p>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-8">
            <div class="form-volunteer-box py-5">
              <%= simple_form_for [@project, @volunteer] do |f| %>
                <%= f.input :name, label: 'Nome:' %>
                <%= f.input :email, label: "Email:" %>
                <%= f.input :date_of_birth, as: :date, html5: true, label: "Data de Nascimento:" %>
                <%= f.input :marital_status, label: "Estado civil:" %>
                <%= f.input :skills, label: "Habilidade:" %>
                <%= f.input :phone, label: "Contato:" %>
                <%= f.input :cpf, label: "CPF:" %>
                <%= f.input :availability, label: "Disponibilidade:" %>
                <%= f.input :experience, label: "Experiência:" %>
                
                <%= f.button :submit, class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
